.sidebar{
    height: 100%;
}
.sidebar_route{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}
.sidebar_route_list{
    padding: 1rem;
}
.sidebar_route_list li{
    width: 100%;
    padding: 0.7rem;
    background-color: var(--theme-color);
    margin-bottom: 0.4rem;
}
.sidebar_route_list li:hover{
    background-color: #111;
}
.sidebar_route_list li a{
    display: block;
    color: #fff;
}
.cross .lnr {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    float: right;
    background-color: #fff;
    border-radius: 3rem;
    padding: 0.6rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}
.cross .lnr:hover{
    color: #fff;
    background-color: #111;
}

/* Search Component Css */
.search_list a{
    color: var(--user-entry-btn);
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
}
/* .search_list a:hover{
    background:var(--dark-color);
    color:var(--light-color);
} */

/* User Drop Down css */

.dropdown{
    position: absolute;
    right: 15px;
    top: 57px;
    width: 140px;
    background: var(--light);
    text-align: center;
    z-index: 999;
}
.dropdown ul li{
    padding: 0.3rem 0;
    
}
.dropdown ul li:hover{
    background-color: var(--theme-color);
    
}
.dropdown ul li:hover a{
    color: var(--light-color);

}
.dropdown ul li a{
    display: block;
    color: var(--dark);
    text-transform: capitalize;
}