/* @import "react-alice-carousel/lib/alice-carousel.css"; */
:root {
  --theme-color: rgba(87, 0, 58);
  --nav-bg: rgba(149, 0, 99);
  --primary-btn-color: rgba(164, 3, 78);
  --best-seller-color: rgba(230, 122, 0);
  --ratings-color: rgba(255, 216, 25);
  --brand-name-color: rgba(123, 123, 123);
  --muted-color: rgba(106, 106, 106);
  --muted-btn-color: rgba(238, 238, 238);
  --heading-color: rgba(0, 0, 0);
  --light-color: rgba(255, 255, 255);
  --footer-border-color: rgba(250, 250, 250, 35%);
  --delivery-details-bg: rgba(239, 239, 239, 100%);
  --gray-color: rgba(0, 0, 0, 0.16); /* repair the name*/
  --dark-color: rgba(7, 7, 7);
  --shadow-color: rgba(0, 0, 0, 0.16);
  --gray-second-color: rgba(241, 241, 241);
  --user-entry-btn: rgba(5, 64, 122);
  --margin-top:1.25rem;
  --margin-bottom:1.25rem;
}
* {
  margin: 0;
  padding: 0;
}
html {
  -ms-overflow-style: none; /* css for scrollbar hide IE and Edge*/
}
body::-webkit-scrollbar {
  width: 10px;
  height: 1rem;
  border-radius: 50%;
} 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  font-family: 'SF UI Display', sans-serif;
  color: var(--dark-color);
  position: relative;
}
a,
a:hover,
a:focus,
input,
button,
textarea,
button:hover,
button:focus {
  outline: none;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*--------------------------------------------------------------------
                        Typhography Settings
--------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
/*--------------------------------------------------------------------
                        Primary css starts here
--------------------------------------------------------------------*/
.box-shadow {
  -webkit-box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
  box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
}
.all-wide-banners img {
  width: 100%;
  max-height: 15.625rem;
  object-fit: contain;
}
.error-handler {
  margin-top: 0.6rem;
  color: rgb(211, 15, 15);
}
/*--------------------------------------------------------------------
ALL Section Heading css starts here
--------------------------------------------------------------------*/
/* Section heading one */
.section_heading_one {
  position: relative;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: var(--heading-color);
  padding: 0 0.625rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.section_heading_one:before,
.section_heading_one:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 0.063rem;
  content: '\a0';
  background-color: var(--heading-color);
}
.section_heading_one:before {
  margin-left: -54%;
  text-align: right;
}
.section_heading_one:after {
  margin-left: 4%;
}
.section_heading_one span {
  font-weight: 600;
}
/* Section heading two */
.section_heading_two {
  position: relative;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  color: var(--heading-color);
  padding: 0.625rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  border: 1px solid var(--dark-color);
}
.section_heading_two span {
  font-weight: 600;
  color: var(--theme-color);
}
/* Section heading three */
.section_heading_three {
  position: relative;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  color: var(--heading-color);
  padding: 0 0.625rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.section_heading_three:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 75%;
  height: 0.063rem;
  content: '\a0';
  background-color: var(--heading-color);
}
.section_heading_three:before {
  margin-left: -54%;
  text-align: right;
}
.section_heading_three:after {
  margin-left: 4%;
}
.section_heading_three span {
  font-weight: 600;
}
/*--------------------------------------------------------------------
                        Primary Slider css starts here
--------------------------------------------------------------------*/
/*Image slider starts here */
.image_container {
  border-radius: 0.625rem;
  height: 180px;
  border: 1px solid var(--shadow-color);
  background: var(--light-color);
}
.image_container img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

/*Image nav button styles */
.image-slider-one .owl-nav button {
  background: none;
  border: none !important;
  cursor: pointer;
  left: 5px;
  background: none;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  visibility: visible;
  width: auto;
  height: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  font-size: 0.5 !important;
  color: var(--dark-color);
}
.image-slider-one button.owl-prev svg,
.image-slider-one button.owl-next svg {
  font-size: 1rem;
  line-height: 1rem;
}
.image-slider-one button.owl-prev,
.image-slider-one button.owl-next {
  height: 50px;
  width: 50px;
  border-radius: 30px !important;
  background-color: var(--light-color) !important;
  color: var(--theme-color) !important;
  font-size: 2rem;
  -webkit-box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
  box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
}
.image-slider-one button.owl-prev.disabled,
.image-slider-one button.owl-next.disabled {
  display: none;
}
.image-slider-one button.owl-prev {
  border: none !important;
  right: auto;
  left: -20px;
}
.image-slider-one button.owl-next {
  border: none !important;
  left: auto;
  right: -20px;
}
/*image slider css ends */

/*product slider css starts */
.product-item {
  border: 1px solid var(--theme-color);
  border-radius: 0.625rem;
  padding: 0.313rem;
  margin-bottom: 1.25rem;
}
.product-thumb {
  position: relative;
}

.product-thumb a {
  position: relative;
  display: block;
  border-radius: 0.625rem;
  overflow: hidden;
}
.product-thumb a img {
  width: 100%;
  object-fit: contain;
}
.product-caption {
  color: var(--dark-color);
  position: relative;
  padding: 1.375rem 0.625rem 1rem;
}
.manufacture-product {
  margin: 0.313rem 0;
}
.manufacture-product a {
  color: var(--brand-name-color);
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 20px;
}
/* .product-name {
  height: 50px;
} */
.product-name h4 {
  font-size: 0.738rem;
  font-weight: 400;
  padding: 5px 0;
  color: var(--dark-color);
}
.price-box > span {
  margin-right: 0.626rem;
}
.price-box del {
  color: var(--brand-name-color);
}
.regular-price {
  font-size: 1rem;
}
.old-price {
  font-size: 0.7rem;
}
.old-price::before {
  content: '|';
  margin-right: 5px;
}
.product-name h4 a {
  color: #111;
}
.btn-cart {
  width: 100%;
  background: var(--primary-btn-color);
  border: medium none;
  border-radius: 0.313rem;
  color: var(--light-color);
  cursor: pointer;
  font-size: 0.6rem;
  margin-top: 10px;
  padding: 0.313rem;
  text-transform: uppercase;
}
.btn-cart:hover {
  background: var(--dark-color);
}

/*Image nav button styles */
.product-section .owl-nav button {
  background: none;
  border: none !important;
  cursor: pointer;
  left: 5px;
  background: none;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  visibility: visible;
  width: auto;
  height: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  font-size: 0.5 !important;
  color: var(--dark-color);
}
.product-section button.owl-prev svg,
.product-section button.owl-next svg {
  font-size: 1rem;
  line-height: 1rem;
}
.product-section button.owl-prev.disabled,
.product-section button.owl-next.disabled {
  display: none;
}
.product-section button.owl-prev,
.product-section button.owl-next {
  height: 50px;
  width: 50px;
  border-radius: 30px !important;
  background-color: var(--light-color) !important;
  color: var(--theme-color) !important;
  font-size: 2rem;
  -webkit-box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
  box-shadow: 4px 8px 16px -5px rgba(0, 0, 0, 0.16);
}
.product-section button.owl-prev {
  border: none !important;
  right: auto;
  left: -20px;
}
.product-section button.owl-next {
  border: none !important;
  left: auto;
  right: -20px;
}
/*product slider css ends */
/*--------------------------------------------------------------------
                        Main Elements css starts here
--------------------------------------------------------------------*/
/*--------------------------------------------------------------------
                        Header_top css starts here
--------------------------------------------------------------------*/
.header_top_area {
  background-color: var(--theme-color);
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
}
.ham-burger {
  display: block !important;
  flex: 0 0 40px;
}
.ham-burger a > span {
  height: 3px;
  width: 25px;
  display: flex;
  flex-direction: column;
  background: var(--light-color);
}
.ham-burger:not(:last-child) a > span {
  margin-bottom: 5px;
}
.header {
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  padding: 0px 20px;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
}
.header__search {
  width: 60%;
}
.header__search_inner {
  display: flex;
  flex: 1;
  background-color: var(--light-color);
  border-radius: 0.325rem;
}
.header__search select {
  height: 40px;
  width: 150px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--nav-bg);
  color: var(--light-color);
  border-radius: 0.325rem 0 0 0.325rem;
  cursor: pointer;
}
.header__searchInput {
  padding: 5px 15px !important;
  border: none;
  width: 100%;
}
.header__searchIcon {
  padding-right: 8px;
  padding-top: 8px;
  font-size: 17px;
}
.header__searchIcon svg {
  color: var(--dark-color) !important;
}
.header__right {
  padding-right: 15px;
}
.header__mobile_searchIcon {
  padding-right: 14px;
  font-size: 22px;
}
.header__mobile_searchIcon svg {
  color: var(--light-color) !important;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__link {
  margin-right: 20px;
}
.header__link {
  color: var(--light-color);
  text-decoration: none;
  display: none;
}
.header__link:hover {
  color: var(--light-color);
}
.header__option:hover {
  opacity: 0.7;
}
.header__option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__option__lineOne {
  font-size: 13px;
}
.header__option__lineTwo {
  font-size: 16px;
  font-weight: 700;
}
.header__option__basket {
  display: flex;
  color: var(--light-color);
  align-items: center;
  margin: 16px 0px;
}
.header__link2:hover .header__option__basket {
  opacity: 0.7;
}
.header__link2 .header__option__basket .icon_name {
  display: none;
}
.header__link2 .header__option__basket .icon img {
  height: 1.45rem;
  width: 1.45rem;
  object-fit: contain;
  margin-right: 5px;
}

/*--------------------------------------------------------------------
                        Header nav css starts here
--------------------------------------------------------------------*/
.header_nav {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: center;
  background-color: var(--nav-bg);
}
.nav_links {
  display: none;
}
.more_link {
  padding: 0.2rem;
  font-size: 0.75rem;
  color: var(--light-color);
}
.more_link a span {
  margin-right: 0.2rem;
  color: var(--light-color);
}
.nav_links ul li a:hover,
.more_link a:hover span {
  text-decoration: underline;
}
/*--------------------------------------------------------------------
Back to top button css starts here
--------------------------------------------------------------------*/

.back_to_top span.flat-btn {
  background: var(--primary-btn-color);
  padding: 0.5rem;
  text-align: center;
  display: none;
  color: var(--light-color);
  height: 100%;
  cursor: pointer;
  color: var(--light-color);
}
.back_to_top span.flat-btn:hover {
  color: var(--dark-color);
}

/*-------scroll to top-------*/
.scroll-top {
  background: var(--theme-color);
  border-radius: 50%;
  bottom: 50px;
  /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); */
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 15px;
  text-align: center;
  width: 50px;
  z-index: 9;
  color: var(--light-color);
  line-height: 55px;
  border: 2px solid #ddd;
}

.scroll-top span.lnr.lnr-arrow-up {
  font-size: 0.9rem;
  font-weight: bolder;
}

.not-visible {
  visibility: hidden;
  -webkit-opacity: 0;
  opacity: 0;
}

/*--------------------------------------------------------------------
Footer css starts here
--------------------------------------------------------------------*/

.footer {
  background: var(--theme-color);
}
/* Footer Top css */
.footer_links {
  padding: 1.7rem 0 1rem 0;
  border-bottom: 1px solid var(--footer-border-color);
}
.links_container {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--light-color);
}
.links_container h6 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.links li {
  margin-bottom: 0.1rem;
}
.links li a {
  color: var(--light-color);
  text-transform: capitalize;
}
.links li a:hover {
  opacity: 0.4;
}

/* Footer bottom css */

.footer_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

/*-----------------------------------------------------------------------------------------
                                          Home css starts here
                  -------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------
                        HomeSlider css starts here
--------------------------------------------------------------------*/
.slider-area {
  width: 100%;
  position: relative;
}
.single-slider {
  width: 100%;
}
.single-slider .slider-image {
  width: 100%;
  object-fit: contain;
}
/* -----------------------------
  Owl Carousel CSS (Header Slider) All breakpoints
--------------------------------*/

.home_slider .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 14px;
  line-height: 14px;
  background: var(--light-color);
  border-radius: 1.25rem;
}
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 4px 5px;
  width: 6px;
  height: 6px;
}
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--theme-color);
  border: none;
}
/* owl-carousel nav button styles */
.home_slider .owl-nav button {
  background: none;
  border: none !important;
  cursor: pointer;
  left: 5px;
  background: none;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  visibility: visible;
  width: auto;
  height: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  font-size: 0.5 !important;
}
.home_slider button.owl-prev {
  border: none !important;
  right: auto;
  left: 15px;
  background: none !important;
}
.home_slider button.owl-next {
  border: none !important;
  left: auto;
  right: 15px;
  background: none !important;
}

/*--------------------------------------------------------------------
                        Home Feature Area css starts here
--------------------------------------------------------------------*/
.home_feature_area img {
  width: -webkit-fill-available;
  max-width: 100%;
  object-fit: fill;
}

/*--------------------------------------------------------------------
Home Online Pharmacy Area css starts here
--------------------------------------------------------------------*/

/* Pharmacy Body css */

.home_online_pharmacy {
  text-align: center;
  color: var(--heading-color);
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.home_online_pharmacy h4 {
  font-weight: bold;
  line-height: 2;
}
.home_online_pharmacy .btn_container .row > div {
  margin-top: 1em;
}
.home_online_pharmacy .btn_container .text > p {
  margin-bottom: 0.4rem !important;
}

.home_online_pharmacy .btn_container .buttons a {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.625rem 0;
  color: var(--dark-color);
}
.home_online_pharmacy .btn_container .section-one .buttons a,
.home_online_pharmacy .btn_container .section-three .buttons a {
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}
.home_online_pharmacy .btn_container .section-one .buttons a:hover,
.home_online_pharmacy .btn_container .section-three .buttons a:hover {
  color: var(--light-color);
  border: 1px solid var(--theme-color);
  background: var(--theme-color);
}
.home_online_pharmacy .btn_container .section-two .buttons a {
  color: var(--light-color);
  background-color: var(--theme-color);
}
.home_online_pharmacy .btn_container .section-two .buttons a:hover {
  background-color: var(--dark-color);
}

/* Pharmacy Body css */
.home_online_pharmacy .pharmacy_body {
  background: url('./assets/images/pharmacy_images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1rem;
  text-align: left;
}
/* .home_online_pharmacy .pharmacy_body .pharmacy_left {
  margin-bottom: 3rem;
} */
.home_online_pharmacy .pharmacy_body .pharmacy_right iframe {
  width: 100%;
  height: 15.375rem;
}
.home_online_pharmacy .pharmacy_body .list > li {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.home_online_pharmacy .pharmacy_body .list .sub_list li {
  font-size: 0.75rem;
  /* margin-top: 0.5rem; */
  color: var(--muted-color);
}
.home_online_pharmacy .pharmacy_body .list .sub_list li img {
  height: 36px;
  padding: 0.3rem;
}
/*--------------------------------------------------------------------
Feature Brands css starts here
--------------------------------------------------------------------*/
.feature_brands {
  margin-bottom: 0.625rem;
}
.feature_slider {
  margin-top: 0.625rem;
  padding: 1.5rem 0;
  background: var(--gray-second-color);
}
/* slider css starts*/
.brand_section {
  padding: 0 1rem;
}
/*  */

/*--------------------------------------------------------------------
Banner Section css starts here
--------------------------------------------------------------------*/
.wide_banner img {
  width: 100%;
  max-height: 15.625rem;
  object-fit: contain;
}

/*--------------------------------------------------------------------
Healthcare Banner Section css starts here
--------------------------------------------------------------------*/
.health_banner_image {
  margin-bottom: 0.625rem;
}

/*--------------------------------------------------------------------
Neccesary Popular Products css starts here
--------------------------------------------------------------------*/
.btn-more {
  width: 100%;
  display: block;
  background: var(--muted-btn-color);
  border: medium none;
  color: var(--theme-color);
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 0.625rem 0.313rem;
  text-align: center;
  text-transform: capitalize;
}
.btn-more:hover {
  color: var(--dark-color);
  background: var(--gray-color);
}

/*--------------------------------------------------------------------
Article css starts here
--------------------------------------------------------------------*/

.article {
  width: 100%;
  color: var(--dark-color);
  /* border: 1px solid var(--dark-color); */
}
.article_image img {
  width: 100%;
}
.article_post_body div {
  margin-bottom: 00.313rem;
}
.article_post_body {
  padding: 0.625rem;
  text-align: left;
}
.article_details {
  font-size: 0.624rem;
}
.article_post_body a {
  font-weight: 500;
  color: var(--dark-color);
}
.article_post_body a::after {
  content: '>';
  margin-left: 0.2rem;
}

/*--------------------------------------------------------------------
              Home css ends here
              --------------------------------------------------------------------*/

/*--------------------------------------------------------------------
            Product Details wrapper css starts here
            --------------------------------------------------------------------*/
/* .product_details_wrapper .details_buttons{
  padding: 0.1rem;
} */
/*--------------------------------------------------------------------
            User entry css starts here
            --------------------------------------------------------------------*/
.user_entry {
  color: var(--dark-color);
  padding: 10% 0;
}
.user_entry .login-form {
  padding: 0px 50px 40px;
  border: 1px solid var(--theme-color);
  -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.user_entry .login-form .input {
  border: 1px solid var(--theme-color);
}

.user_entry_heading {
  padding: 0.8rem 0 3.125rem;
  font-size: 1.238rem;
  font-weight: 500;
}
.user_msg_text {
  text-align: center;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.login-box button {
  background: var(--user-entry-btn);
  color: var(--light-color);
  border-radius: 0.1rem !important;
}
